/**
 * IE 9 specific styles
 *
 * @author magnify
 */
/* Page
 *
   ================================================================================================================== */
/* line 15, ../sass/ie9.scss */
.page-wrapper.is-moved-left .page-inner {
  right: 76%;
}

/* Mobile navigation
 *
   ================================================================================================================== */
/* line 26, ../sass/ie9.scss */
.nav-mobile {
  right: -76%;
}
/* line 29, ../sass/ie9.scss */
.nav-mobile.is-open {
  right: 0;
}
