/**
 * Stylesheet import
 *
 * @author magnify
 */
/* Compass */
/* Zen Grids - http://zengrids.com */
/**
 * Variables
 *
 * @author magnify
 */
/* Layout
   ================================================================================================================== */
/* Colors
   ================================================================================================================== */
/* Typograhy
   ================================================================================================================== */
/* Link colors
   ================================================================================================================== */
/**
 * Theme variables
 *
 * @author magnify
 */
/* Layout
   ================================================================================================================== */
/* Colors
   ================================================================================================================== */
/* Link colors
   ================================================================================================================== */
/* Spacing
   ================================================================================================================== */
/* Misc
   ================================================================================================================== */
/**
 * Normalize
 *
 * Normalize.css v2.1.2 | MIT License | git.io/normalize
 */
/* HTML5 display definitions
   ================================================================================================================== */
/* Correct `block` display not defined in IE 8/9. */
/* line 25, ../sass/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* Correct `inline-block` display not defined in IE 8/9. */
/* line 34, ../sass/base/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* Prevent modern browsers from displaying `audio` without controls. */
/* Remove excess height in iOS 5 devices. */
/* line 42, ../sass/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* Address styling not present in IE 8/9. */
/* line 49, ../sass/base/_normalize.scss */
[hidden] {
  display: none;
}

/* Base
   ================================================================================================================== */
/* 1. Set default fontello family to sans-serif. */
/* 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
/* line 60, ../sass/base/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Remove default margin. */
/* line 69, ../sass/base/_normalize.scss */
body {
  margin: 0;
}

/* Links
   ================================================================================================================== */
/* Address `outline` inconsistency between Chrome and other browsers. */
/* line 79, ../sass/base/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and also mouse hovered in all browsers. */
/* line 86, ../sass/base/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Typography
   ================================================================================================================== */
/* Address variable `h1` fontello-size and margin within `section` and `article` */
/* contexts in Firefox 4+, Safari 5, and Chrome. */
/* line 96, ../sass/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Address styling not present in IE 8/9, Safari 5, and Chrome. */
/* line 103, ../sass/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
/* line 110, ../sass/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* Address styling not present in Safari 5 and Chrome. */
/* line 116, ../sass/base/_normalize.scss */
dfn {
  font-style: italic;
}

/* Address differences between Firefox and other browsers. */
/* line 122, ../sass/base/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* Address styling not present in IE 8/9. */
/* line 130, ../sass/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* Correct fontello family set oddly in Safari 5 and Chrome. */
/* line 140, ../sass/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers. */
/* line 147, ../sass/base/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/* Set consistent quote types. */
/* line 153, ../sass/base/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* Address inconsistent and variable fontello size in all browsers. */
/* line 159, ../sass/base/_normalize.scss */
small {
  font-size: 80%;
}

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
/* line 166, ../sass/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 173, ../sass/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 177, ../sass/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ================================================================================================================== */
/* Remove border when inside `a` element in IE 8/9. */
/* line 187, ../sass/base/_normalize.scss */
img {
  border: 0;
}

/* Correct overflow displayed oddly in IE 9. */
/* line 193, ../sass/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Figures
   ================================================================================================================== */
/* Address margin not present in IE 8/9 and Safari 5. */
/* line 203, ../sass/base/_normalize.scss */
figure {
  margin: 0;
}

/* Forms
   ================================================================================================================== */
/* Define consistent border, margin, and padding. */
/* line 213, ../sass/base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* 1. Correct `color` not being inherited in IE 8/9. */
/* 2. Remove padding so people aren't caught out if they zero out fieldsets. */
/* line 222, ../sass/base/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* 1. Correct fontello family not being inherited in all browsers. */
/* 2. Correct fontello size not being inherited in all browsers. */
/* 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome. */
/* line 234, ../sass/base/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/* Address Firefox 4+ setting `line-height` on `input` using `!important` in */
/* the UA stylesheet. */
/* line 244, ../sass/base/_normalize.scss */
button,
input {
  line-height: normal;
}

/* Address inconsistent `text-transform` inheritance for `button` and `select`. */
/* All other form control elements do not inherit `text-transform` values. */
/* Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+. */
/* Correct `select` style inheritance in Firefox 4+ and Opera. */
/* line 254, ../sass/base/_normalize.scss */
button,
select {
  text-transform: none;
}

/* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. */
/* 2. Correct inability to style clickable `input` types in iOS. */
/* 3. Improve usability and consistency of cursor style between image-type `input` and others. */
/* line 265, ../sass/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/* Re-set default cursor for disabled elements. */
/* line 273, ../sass/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* 1. Address box sizing set to `content-box` in IE 8/9. */
/* 2. Remove excess padding in IE 8/9. */
/* line 281, ../sass/base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome. */
/* 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof). */
/* line 289, ../sass/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/* Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */
/* line 299, ../sass/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Remove inner padding and border in Firefox 4+. */
/* line 306, ../sass/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 1. Remove default vertical scrollbar in IE 8/9. */
/* 2. Improve readability and alignment in all browsers. */
/* line 314, ../sass/base/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* Tables
   ================================================================================================================== */
/* Remove most spacing between table cells. */
/* line 325, ../sass/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Base
 *
 * Contains styling and reset of basic elements
 *
 * @author magnify
 */
/* line 10, ../sass/base/_base.scss */
html {
  height: 100%;
}

/* line 14, ../sass/base/_base.scss */
body {
  position: relative;
  min-height: 100%;
  background-color: #fff;
  color: #333;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 30, ../sass/base/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5em;
  font-family: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  /* This fixes huge spaces when a heading wraps onto two lines */
  line-height: 1.2;
  /* Voodoo to enable ligatures and kerning */
  text-rendering: optimizeLegibility;
}

/* line 45, ../sass/base/_base.scss */
strong {
  font-weight: bold;
}

/* line 50, ../sass/base/_base.scss */
em {
  font-style: italic;
}
/* line 53, ../sass/base/_base.scss */
em strong {
  font-weight: bold;
}

/* Links
   ================================================================================================================== */
/* line 64, ../sass/base/_base.scss */
a:link {
  color: #41ab51;
  text-decoration: underline;
}
/* line 69, ../sass/base/_base.scss */
a:visited {
  color: #3a9948;
}
/* line 73, ../sass/base/_base.scss */
a:hover {
  color: #33863f;
  text-decoration: none;
}
/* line 78, ../sass/base/_base.scss */
a:focus {
  color: #33863f;
}

/* Paragraph
   ================================================================================================================== */
/* line 87, ../sass/base/_base.scss */
p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

/* Image
   ================================================================================================================== */
/* line 96, ../sass/base/_base.scss */
img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

/* States
   ========================================================================== */
/* line 107, ../sass/base/_base.scss */
.is-hidden {
  display: none;
}

/**
 * Breakpoints
 *
 * Should contain breakpoint variables and breakpoints related mixins
 *
 * @author magnify
 */
/* Breakpoints
   *
   * These are only examples, change/add/remove so they match your needs
   *
   ================================================================================================================== */
/* Mixins
   *
   * Use this mixin to change styling for your rulesets depending on a breakpoint (width)
   *
   * Usage example: @include breakpoint($breakpoint-x)
   *
   ================================================================================================================== */
/**
 * Placeholders
 *
 * This contains placeholders used with @extend in rulesets
 *
 * @author magnify
 */
/* Layout placeholders
   ========================================================================== */
/* Used for centering an element */
/* line 14, ../sass/theme/_placeholders.scss */
.header--inner, .layout--wrapper, .search-block {
  margin-right: auto;
  margin-left: auto;
  clear: both;
}
@media only screen and (min-width: 18.75em) {
  /* line 14, ../sass/theme/_placeholders.scss */
  .header--inner, .layout--wrapper, .search-block {
    max-width: 75em;
  }
}

/* line 26, ../sass/theme/_placeholders.scss */
.layout--wrapper, .search-block, .content-list--item {
  margin-bottom: 1.5em;
  padding: 1.25em;
  background-color: #f2f2f2;
}
@media only screen and (min-width: 75em) {
  /* line 26, ../sass/theme/_placeholders.scss */
  .layout--wrapper, .search-block, .content-list--item {
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    border-radius: 0.4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

/* line 39, ../sass/theme/_placeholders.scss */
.layout--inner {
  padding: 1.25em;
  background-color: white;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 49, ../sass/theme/_placeholders.scss */
.nav-mobile--link, .search-result--lead, .search-result--item, .comments--comment {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

/* line 55, ../sass/theme/_placeholders.scss */
.search-result--item:last-child, .comments--comment.is-last {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Icons
   ================================================================================================================== */
/* line 65, ../sass/theme/_placeholders.scss */
.flag.is-sticky:before, .messages.status:before, .flag:before, .at-term:after, .messages.error:before, .search-result--comments:before, .messages.warning:before, .nav-mobile--link:before, .nav--link-mail:before, .nav--link-user:before, .nav--link-menu:before {
  display: inline-block;
  font-family: "loop-icons";
  line-height: 100%;
}

/* line 72, ../sass/theme/_placeholders.scss */
.nav--link-user:before, .nav--link-mail:before, .nav--link-menu:before, .nav-mobile--link:before, .search-result--comments:before, .flag:before, .messages.status:before, .messages.warning:before, .messages.error:before {
  margin-right: .35em;
}

/* line 76, ../sass/theme/_placeholders.scss */
.at-term:after {
  margin-left: .35em;
}

/* line 80, ../sass/theme/_placeholders.scss */
.flag.is-sticky:before {
  content: '\e804';
}

/* line 86, ../sass/theme/_placeholders.scss */
.messages.status:before {
  content: '\e80d';
}

/* line 92, ../sass/theme/_placeholders.scss */
.flag:before {
  content: '\e805';
}

/* line 98, ../sass/theme/_placeholders.scss */
.at-term:after, .messages.error:before {
  content: '\e80b';
}

/* line 104, ../sass/theme/_placeholders.scss */
.search-result--comments:before {
  content: '\e80a';
}

/* line 110, ../sass/theme/_placeholders.scss */
.messages.warning:before {
  content: '\e80c';
}

/* line 116, ../sass/theme/_placeholders.scss */
.nav-mobile--link:before {
  content: '\e807';
}

/* line 122, ../sass/theme/_placeholders.scss */
.nav--link-mail:before {
  content: '\e801';
}

/* line 128, ../sass/theme/_placeholders.scss */
.nav--link-user:before {
  content: '\e802';
}

/* line 134, ../sass/theme/_placeholders.scss */
.nav--link-menu:before {
  content: '\e800';
}

/**
 * Forms
 *
 * This is an example file
 *
 * @author magnify
 */
/* Basic styling
   ================================================================================================================== */
/* line 15, ../sass/theme/_forms.scss */
input,
textarea {
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 29, ../sass/theme/_forms.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 1px solid #cccccc;
  display: block;
  min-height: 1.25em;
  width: 100%;
  padding: .75em;
  color: #595959;
  background-color: #f2f2f2;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 39, ../sass/theme/_forms.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  border: 1px solid #737373;
  color: #404040;
}
/* line 45, ../sass/theme/_forms.scss */
input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
textarea[disabled] {
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  border: 1px solid #cccccc;
  background-color: #e6e6e6;
}

/* Labels
   ================================================================================================================== */
/* line 62, ../sass/theme/_forms.scss */
label {
  display: block;
  margin-bottom: .25em;
  /* Move labels so they align better with fields when using rounded corners */
  margin-left: .2em;
  color: #737373;
}

/* Form elements
 *
 * Based on Drupal's form markup, guidelines are not used
 *
   ================================================================================================================== */
/* line 79, ../sass/theme/_forms.scss */
.form-module {
  clear: both;
}

/* line 83, ../sass/theme/_forms.scss */
.form-item {
  border: 1px solid #f2f2f2;
  margin-bottom: 1.5em;
  padding: 1em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
}

/* line 91, ../sass/theme/_forms.scss */
.form-item-description {
  padding-top: .5em;
  color: #b3b3b3;
}

/* line 97, ../sass/theme/_forms.scss */
.form-required {
  color: #ff6138;
}

/* line 101, ../sass/theme/_forms.scss */
.form-select {
  border: 1px solid #cccccc;
  padding: .75em;
  width: 100%;
  /* Set height for chrome */
  height: 3em;
  /* For Chrome */
  height: 3em;
  background-color: #f2f2f2;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 118, ../sass/theme/_forms.scss */
.form-textarea-question {
  height: 6em;
}
@media only screen and (min-width: 30em) {
  /* line 118, ../sass/theme/_forms.scss */
  .form-textarea-question {
    height: 3.25em;
  }
}

/* line 126, ../sass/theme/_forms.scss */
.form-actions {
  text-align: right;
}

/* line 130, ../sass/theme/_forms.scss */
.form-submit {
  width: 100%;
}
@media only screen and (min-width: 30em) {
  /* line 130, ../sass/theme/_forms.scss */
  .form-submit {
    width: auto;
  }
}

/**
 * Buttons
 *
 * @author magnify
 */
/* line 8, ../sass/theme/_buttons.scss */
.button--action, .form-submit, .search--button, .at-add-btn {
  display: inline-block;
  font-size: 125%;
  padding: .5em 1.5em;
  position: relative;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  text-shadow: 0.025em 0.025em 0.1em #33863f;
}
/* line 20, ../sass/theme/_buttons.scss */
.button--action:focus, .form-submit:focus, .search--button:focus, .at-add-btn:focus, .button--action:hover, .form-submit:hover, .search--button:hover, .at-add-btn:hover, .button--action:active, .form-submit:active, .search--button:active, .at-add-btn:active {
  text-decoration: none;
}

/* line 28, ../sass/theme/_buttons.scss */
.button--action, .form-submit, .search--button {
  background-color: #5dc26d;
  border: 1px solid #41ab51;
  color: white;
}
/* line 35, ../sass/theme/_buttons.scss */
.button--action:hover, .form-submit:hover, .search--button:hover {
  background-color: #41ab51;
}

/**
 * Layout
 *
 * Contains styling of layout elements
 *
 * @author magnify
 */
/* Header
   ================================================================================================================== */
/* line 13, ../sass/theme/_layout.scss */
.header {
  background-color: #41ab51;
  *position: relative;
  *zoom: 1;
}
/* line 46, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.header:before, .header:after {
  content: "";
  display: table;
}
/* line 50, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.header:after {
  clear: both;
}

/* line 19, ../sass/theme/_layout.scss */
.header--inner {
  position: relative;
  min-height: 5em;
  padding-right: 1em;
  padding-left: 1em;
}

/* Logo
   ================================================================================================================== */
/* line 33, ../sass/theme/_layout.scss */
.logo--link {
  display: inline-block;
  max-width: 100%;
  padding-top: 1.25em;
  text-align: center;
}
@media only screen and (min-width: 18.75em) {
  /* line 33, ../sass/theme/_layout.scss */
  .logo--link {
    max-width: 5.625em;
  }
}

/* line 45, ../sass/theme/_layout.scss */
.logo--image {
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 18.75em) {
  /* line 45, ../sass/theme/_layout.scss */
  .logo--image {
    max-width: 100%;
  }
}

/* Layouts
   ================================================================================================================== */
/* line 60, ../sass/theme/_layout.scss */
.layout--wrapper {
  margin-bottom: 0;
}
/* line 66, ../sass/theme/_layout.scss */
.layout--wrapper .layout--inner:last-child {
  margin-bottom: 0;
}

/* line 71, ../sass/theme/_layout.scss */
.layout--inner {
  margin-bottom: 1.5em;
}

/**
 * Navigation
 *
 * @author magnify
 */
/* line 8, ../sass/theme/_nav.scss */
.nav {
  position: absolute;
  right: .75em;
  bottom: .75em;
  text-align: center;
}
@media only screen and (min-width: 43em) {
  /* line 8, ../sass/theme/_nav.scss */
  .nav {
    right: 1em;
    bottom: 0;
  }
}

/* line 22, ../sass/theme/_nav.scss */
.nav--link, .nav--link-user, .nav--link-mail, .nav--link-menu {
  position: relative;
  display: block;
  height: 3.5em;
  margin-left: 1em;
  width: 3.5em;
  background-color: rgba(255, 255, 255, 0.25);
  line-height: 3.5em;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/* line 34, ../sass/theme/_nav.scss */
.nav--link:before, .nav--link-user:before, .nav--link-mail:before, .nav--link-menu:before {
  margin-right: 0;
  font-size: 125%;
}
/* line 41, ../sass/theme/_nav.scss */
.nav--link:link, .nav--link-user:link, .nav--link-mail:link, .nav--link-menu:link, .nav--link:visited, .nav--link-user:visited, .nav--link-mail:visited, .nav--link-menu:visited {
  color: white;
  text-decoration: none;
}
/* line 46, ../sass/theme/_nav.scss */
.nav--link:hover, .nav--link-user:hover, .nav--link-mail:hover, .nav--link-menu:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
@media only screen and (min-width: 18.75em) {
  /* line 22, ../sass/theme/_nav.scss */
  .nav--link, .nav--link-user, .nav--link-mail, .nav--link-menu {
    display: inline-block;
  }
}
@media only screen and (min-width: 43em) {
  /* line 22, ../sass/theme/_nav.scss */
  .nav--link, .nav--link-user, .nav--link-mail, .nav--link-menu {
    padding-right: 1.25em;
    padding-left: 1.25em;
    height: auto;
    width: auto;
    line-height: 2.5em;
    -webkit-border-radius: 0.4em 0.4em 0 0;
    -moz-border-radius: 0.4em 0.4em 0 0;
    -ms-border-radius: 0.4em 0.4em 0 0;
    -o-border-radius: 0.4em 0.4em 0 0;
    border-radius: 0.4em 0.4em 0 0;
  }
  /* line 67, ../sass/theme/_nav.scss */
  .nav--link:before, .nav--link-user:before, .nav--link-mail:before, .nav--link-menu:before {
    display: none;
  }
}

/* line 75, ../sass/theme/_nav.scss */
.nav--text {
  display: none;
}
@media only screen and (min-width: 43em) {
  /* line 75, ../sass/theme/_nav.scss */
  .nav--text {
    display: inline;
  }
}

/* Make the menu icon bigger */
/* line 109, ../sass/theme/_nav.scss */
.nav--link-menu:before {
  font-size: 200%;
  vertical-align: sub;
}

/* Mobile navigation
   ================================================================================================================== */
/* line 122, ../sass/theme/_nav.scss */
.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 1001;
  padding: 1.5em;
  height: 100%;
  width: 76%;
  background-color: #41ab51;
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 5px 0 8px #33863f inset;
  -moz-box-shadow: 5px 0 8px #33863f inset;
  box-shadow: 5px 0 8px #33863f inset;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* line 143, ../sass/theme/_nav.scss */
.nav-mobile a:link {
  color: white;
  text-decoration: none;
}
/* line 148, ../sass/theme/_nav.scss */
.nav-mobile a:visited {
  color: white;
}
/* line 152, ../sass/theme/_nav.scss */
.nav-mobile a:hover {
  color: white;
  text-decoration: underline;
}
/* line 157, ../sass/theme/_nav.scss */
.nav-mobile a:focus {
  color: white;
}

/* line 163, ../sass/theme/_nav.scss */
.nav-mobile--link {
  border-bottom-color: #5dc26d;
  display: block;
}

/**
 * Notifications
 *
 * @author magnify
 */
/* line 10, ../sass/modules/_notifications.scss */
.notification {
  display: inline-block;
  position: absolute;
  top: -.5em;
  right: -.5em;
  height: 2em;
  width: 2em;
  background-color: #ff6138;
  font-size: 65%;
  text-decoration: none;
  line-height: 2em;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/* line 26, ../sass/modules/_notifications.scss */
.notification:link, .notification:visited {
  text-decoration: none;
}

/**
 * Search module
 *
 * @author magnify
 */
/* Search field
   ========================================================================== */
/* line 12, ../sass/modules/_search.scss */
.search-block {
  position: relative;
}
@media only screen and (min-width: 75em) {
  /* line 12, ../sass/modules/_search.scss */
  .search-block {
    -webkit-border-radius: 0 0 0.4em 0.4em;
    -moz-border-radius: 0 0 0.4em 0.4em;
    -ms-border-radius: 0 0 0.4em 0.4em;
    -o-border-radius: 0 0 0.4em 0.4em;
    border-radius: 0 0 0.4em 0.4em;
  }
}

/* line 23, ../sass/modules/_search.scss */
.search--field-wrapper {
  position: relative;
}
/* line 27, ../sass/modules/_search.scss */
.search--field-wrapper .form-item {
  border: 0;
  margin-bottom: 0;
  padding: 0;
}
/* line 33, ../sass/modules/_search.scss */
.search--field-wrapper .search--icon {
  position: absolute;
  top: 1.2em;
  left: .35em;
  color: #b3b3b3;
  font-size: 200%;
}
/* line 42, ../sass/modules/_search.scss */
.search--field-wrapper .search--field {
  margin-bottom: .75em;
  padding-top: 1.25em;
  padding-right: 1.25em;
  padding-bottom: 1.25em;
  padding-left: 3em;
  height: 65px;
  background-color: white;
}
/* line 53, ../sass/modules/_search.scss */
.search--field-wrapper .search--field:focus {
  outline: none;
}
@media only screen and (min-width: 28em) {
  /* line 59, ../sass/modules/_search.scss */
  .search--field-wrapper .search--field {
    padding-right: 6em;
    width: 90%;
    -webkit-border-radius: 0.4em 0 0 0.4em;
    -moz-border-radius: 0.4em 0 0 0.4em;
    -ms-border-radius: 0.4em 0 0 0.4em;
    -o-border-radius: 0.4em 0 0 0.4em;
    border-radius: 0.4em 0 0 0.4em;
  }
}

/* line 68, ../sass/modules/_search.scss */
.search--button {
  height: 65px;
  width: 100%;
}
@media only screen and (min-width: 28em) {
  /* line 68, ../sass/modules/_search.scss */
  .search--button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: .5em;
    padding-bottom: .65em;
    width: auto;
    font-size: 150%;
    -webkit-border-radius: 0 0.4em 0.4em 0;
    -moz-border-radius: 0 0.4em 0.4em 0;
    -ms-border-radius: 0 0.4em 0.4em 0;
    -o-border-radius: 0 0.4em 0.4em 0;
    border-radius: 0 0.4em 0.4em 0;
  }
}

/* Search result
   ========================================================================== */
/* line 106, ../sass/modules/_search.scss */
.search-result--link {
  display: block;
  margin-bottom: .5em;
}
/* line 111, ../sass/modules/_search.scss */
.search-result--link:link, .search-result--link:visited {
  text-decoration: none;
}
/* line 116, ../sass/modules/_search.scss */
.search-result--link:hover, .search-result--link:active {
  text-decoration: underline;
}

/* line 121, ../sass/modules/_search.scss */
.search-result--comments {
  display: block;
}
/* line 125, ../sass/modules/_search.scss */
.search-result--comments:link, .search-result--comments:visited {
  color: #737373;
  text-decoration: none;
}
/* line 131, ../sass/modules/_search.scss */
.search-result--comments:hover, .search-result--comments:active {
  color: #404040;
}

/* Search autocomplete
   ========================================================================== */
/* line 145, ../sass/modules/_search.scss */
.search--autocomplete {
  position: absolute;
  top: 12.25em;
  right: 1.25em;
  left: 1.25em;
  z-index: 99;
  border: 1px solid #e6e6e6;
  padding: 1em;
  background-color: white;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
}
@media only screen and (min-width: 28em) {
  /* line 145, ../sass/modules/_search.scss */
  .search--autocomplete {
    top: 7.5em;
  }
}

/* line 164, ../sass/modules/_search.scss */
.search--autocomplete-header {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 1em;
  padding-bottom: 1em;
  font-size: 110%;
  font-weight: bold;
}

/* line 173, ../sass/modules/_search.scss */
.search--autocomplete-link {
  border-bottom: 1px solid #e6e6e6;
  display: block;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
/* line 182, ../sass/modules/_search.scss */
.search--autocomplete-link:link, .search--autocomplete-link:visited, .search--autocomplete-link:hover, .search--autocomplete-link:active {
  text-decoration: none;
}
/* line 186, ../sass/modules/_search.scss */
.search--autocomplete-link:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

/**
 * Question module
 *
 * @author magnify
 */
/* Question
   ================================================================================================================== */
/* line 11, ../sass/modules/_question.scss */
.question--wrapper {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
}

/* line 18, ../sass/modules/_question.scss */
.question--meta-data {
  margin-bottom: 1.5em;
  padding: .5em 1.25em .65em;
  background-color: #f2f2f2;
  color: #999999;
  font-size: 80%;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
}
@media only screen and (min-width: 40em) {
  /* line 18, ../sass/modules/_question.scss */
  .question--meta-data {
    float: right;
  }
}

/* line 34, ../sass/modules/_question.scss */
.question--inner {
  clear: both;
}

/* line 38, ../sass/modules/_question.scss */
.question--label {
  display: block;
  margin-bottom: .25em;
  font-size: 125%;
  font-weight: bold;
}

/* line 46, ../sass/modules/_question.scss */
.question {
  font-size: 125%;
}

/**
 * Lists
 *
 * @author magnify
 */
/* line 7, ../sass/modules/_lists.scss */
.content-list {
  padding-left: 0;
  color: #737373;
  list-style: none;
}

/* line 14, ../sass/modules/_lists.scss */
.content-list--item {
  background-color: #e6e6e6;
}
/* line 19, ../sass/modules/_lists.scss */
.content-list--item.is-last {
  margin-bottom: 0;
}

/**
 * Meta data module
 *
 * @author magnify
 */
/* line 9, ../sass/modules/_meta-data.scss */
.meta-data--author {
  margin-bottom: .75em;
  margin-left: -2em;
}
@media only screen and (min-width: 75em) {
  /* line 9, ../sass/modules/_meta-data.scss */
  .meta-data--author {
    margin-left: 0;
  }
}
@media only screen and (min-width: 40em) {
  /* line 9, ../sass/modules/_meta-data.scss */
  .meta-data--author {
    float: left;
  }
}

/* line 22, ../sass/modules/_meta-data.scss */
.meta-data--date, .comments--comment-meta-data {
  display: block;
  color: #cccccc;
  clear: both;
  font-size: 80%;
}

/* line 30, ../sass/modules/_meta-data.scss */
.meta-data--author-image {
  border: 1px solid #e6e6e6;
  display: inline-block;
  overflow: hidden;
  margin-right: .5em;
  max-width: 3em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
}

/* line 40, ../sass/modules/_meta-data.scss */
.meta-data--author-wrapper {
  vertical-align: top;
  display: inline-block;
}

/* line 46, ../sass/modules/_meta-data.scss */
.meta-data--author-link {
  font-weight: bold;
}

/* line 50, ../sass/modules/_meta-data.scss */
.meta-data--author-title {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/**
 * Comment module
 *
 * @author magnify
 */
/* Comments
   ================================================================================================================== */
/* line 13, ../sass/modules/_comment.scss */
.comments--comment {
  position: relative;
}

/* line 27, ../sass/modules/_comment.scss */
.comments--comment-content {
  margin-bottom: 1em;
}
@media only screen and (min-width: 43em) {
  /* line 27, ../sass/modules/_comment.scss */
  .comments--comment-content {
    margin-bottom: 0;
  }
}

/**
 * Flag module
 *
 * @author magnify
 */
/* line 9, ../sass/modules/_flag.scss */
.flag {
  border: 1px solid #b3b3b3;
  display: block;
  padding: .5em 1em;
  font-weight: bold;
  text-align: center;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  /* Pseudo classes */
  /* States */
  /* Breakpoints */
}
/* line 23, ../sass/modules/_flag.scss */
.flag:link, .flag:visited, .flag:hover, .flag:active {
  color: #b3b3b3;
  text-decoration: none;
}
/* line 28, ../sass/modules/_flag.scss */
.flag:hover {
  border: 1px solid #737373;
  color: #737373;
}
/* line 34, ../sass/modules/_flag.scss */
.flag:before {
  font-size: 150%;
}
/* line 43, ../sass/modules/_flag.scss */
.flag.is-active, .flag.is-sticky {
  border: 1px solid #41ab51;
  color: #41ab51;
}
/* line 48, ../sass/modules/_flag.scss */
.flag.is-active:hover, .flag.is-sticky:hover {
  border: 1px solid #33863f;
  color: #33863f;
}
/* line 55, ../sass/modules/_flag.scss */
.flag.is-sticky {
  margin-bottom: 1em;
}
@media only screen and (min-width: 43em) {
  /* line 9, ../sass/modules/_flag.scss */
  .flag {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
  }
}

/**
 * Tag
 *
 * @author magnify
 */
/* line 9, ../sass/modules/_tag.scss */
.question--term, .at-term {
  display: inline-block;
  margin-bottom: .25em;
  padding: .1em 1em;
  background-color: #ff6138;
  color: white;
  cursor: pointer;
  font-size: 85%;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
}
/* line 24, ../sass/modules/_tag.scss */
.question--term:link, .at-term:link, .question--term:visited, .at-term:visited, .question--term:hover, .at-term:hover, .question--term:active, .at-term:active {
  color: white;
  text-decoration: none;
}
/* line 29, ../sass/modules/_tag.scss */
.question--term:hover, .at-term:hover {
  background-color: #eb3000;
}

/**
 * Page module
 *
 * @author magnify
 */
/* line 8, ../sass/modules/_page.scss */
.page-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: visible;
  width: 100%;
}
/* line 16, ../sass/modules/_page.scss */
.page-wrapper.is-moved-left {
  overflow-y: hidden;
}
/* line 19, ../sass/modules/_page.scss */
.page-wrapper.is-moved-left .page-inner {
  -webkit-transform: translate3d(-76%, 0, 0);
  -moz-transform: translate3d(-76%, 0, 0);
  -ms-transform: translate3d(-76%, 0, 0);
  -o-transform: translate3d(-76%, 0, 0);
  transform: translate3d(-76%, 0, 0);
}

/* line 25, ../sass/modules/_page.scss */
.page-inner {
  position: relative;
  min-height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 500ms ease;
  -webkit-transition-delay: 0s;
  -moz-transition: -moz-transform 500ms ease 0s;
  -o-transition: -o-transform 500ms ease 0s;
  transition: transform 500ms ease 0s;
}

/* line 34, ../sass/modules/_page.scss */
.page-title {
  font-size: 200%;
  font-weight: bold;
}

/**
 * Active Tags module
 *
 * https://drupal.org/project/active_tags
 *
 * @author magnify
 */
/* line 11, ../sass/drupal-modules/_at-term.scss */
.at-term-list {
  margin-bottom: .25em;
}

/* line 24, ../sass/drupal-modules/_at-term.scss */
.at-term-entry {
  margin-bottom: .5em;
}

/* line 28, ../sass/drupal-modules/_at-term.scss */
.at-add-btn {
  padding: .25em .75em;
  width: 100%;
  background-color: #595959;
  border: 1px solid #404040;
  color: white;
  font-size: 100%;
}
/* line 39, ../sass/drupal-modules/_at-term.scss */
.at-add-btn:hover {
  background-color: #404040;
}
@media only screen and (min-width: 30em) {
  /* line 28, ../sass/drupal-modules/_at-term.scss */
  .at-add-btn {
    width: auto;
  }
}

/**
 * Messages
 *
 * @author magnify
 */
/* line 7, ../sass/drupal-modules/_messages.scss */
.messages {
  margin-bottom: 1.5em;
  padding: 1.5em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
}
/* line 13, ../sass/drupal-modules/_messages.scss */
.messages:before {
  font-size: 150%;
  vertical-align: top;
}
/* line 18, ../sass/drupal-modules/_messages.scss */
.messages.status {
  background-color: #41ab51;
  color: white;
}
/* line 22, ../sass/drupal-modules/_messages.scss */
.messages.status:before {
  margin-right: .5em;
}
/* line 30, ../sass/drupal-modules/_messages.scss */
.messages.warning {
  background-color: #fff98f;
  color: black;
}
/* line 34, ../sass/drupal-modules/_messages.scss */
.messages.warning:before {
  margin-right: .5em;
}
/* line 42, ../sass/drupal-modules/_messages.scss */
.messages.error {
  background-color: #eb3000;
  color: white;
}
/* line 46, ../sass/drupal-modules/_messages.scss */
.messages.error:before {
  margin-right: .5em;
}
