/**
 * Stylesheet import
 *
 * @author magnify
 */



/* Compass */
@import "compass/css3";



/* Zen Grids - http://zengrids.com */
$zen-column-count: 12;
$zen-gutter-width: 30px;

@import "zen";



// Include base vars
@import "base/_vars";



// Override with theme vars
@import "examples/_theme-vars";



// Include base
@import "base/_normalize";
@import "base/_breakpoints";
@import "base/_placeholders";
@import "base/_base";



// Examples
@import "examples/_forms";
@import "examples/_buttons";



// Layout
@import "layout/_layout";



// Misc
@import "misc/_debug";



// Modules
@import "modules/_search";
