.loop-documents--collection .loop-documents--document-title {
  page-break-before: always; }

.loop-documents--collection h1,
.loop-documents--collection h2,
.loop-documents--collection h3,
.loop-documents--collection h4,
.loop-documents--collection h5,
.loop-documents--collection h6 {
  line-height: normal; }

.element-invisible {
  display: none; }
