/**
 * Forms
 *
 * @author magnify
 */



/* Basic styling
   ================================================================================================================== */

input,
textarea {
  font: $font;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 1px solid $gray-light;
  display: block;
  min-height: 1.25em;
  width: 100%;
  padding: .75em;

  color: $gray-darker;
  background-color: darken($white, 5%);

  &:focus {
    border: 1px solid $gray-dark;

    color: $gray-darkest;
  }

  &[disabled] {
    @include box-shadow(0 0 0);

    border: 1px solid $gray-light;
    color: $gray;

    background-color: lighten($gray-light, 10%);
  }

  @include border-radius($border-radius);
  @include box-sizing(border-box);
}



/* Labels
   ================================================================================================================== */

label {
  display: block;
  margin-bottom: .25em;

  /* Move labels so they align better with fields when using rounded corners */
  margin-left: .2em;

  color: $gray-dark;
}


/* Form elements
 *
 * Based on Drupal's form markup, guidelines are not used
 *
   ================================================================================================================== */

.form-module {
  clear: both;

  // Not pretty, but much, much easier!
  .filter-wrapper {
    display: none;
  }
}

.form-item {
  border: 1px solid $gray-lightest;
  margin-bottom: $margin-bottom;
  padding: 1em;

  @include border-radius($border-radius);

  // Too comprehensive to change the class so we nest instead
  .description {
    padding-top: .5em;

    color: $gray;
  }
}

.form-required {
  color: $red;
}

.form-select {
  border: 1px solid $gray-light;
  padding: .75em;
  width: 100%;
  
  /* Set height for chrome */
  height: 3em;

  /* For Chrome */
  height: 3em;

  background-color: darken($white, 5%);

  @include border-radius($border-radius);
  @include box-sizing(border-box);
}

.form-textarea-question {
  height: 6em;

  @include breakpoint(30em) {
    height: 3.25em;
  }
}

.form-actions {
  text-align: right;
}

.form-submit {
  @extend .button--action;

  width: 100%;

  @include breakpoint(30em) {
    width: auto;
  }
}

.field-group-fieldset {
  border: 1px solid $gray-light;
  margin-bottom: 2em;
  padding-bottom: 1em;
  padding-left: 1em;

  @include border-radius($border-radius);
}

.fieldset-legend {
  padding-right: .5em;
  padding-left: .5em;

  font-size: 125%;
}


// Views bulk operations need specific form styling.
.vbo-views-form {
  .form-item {
    border: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .vbo-fieldset-select-all {
    border: 0;
    padding: 0 0 2em;
    margin: 0;
    width: auto;
  }

  label,
  .form-type-checkbox {
    float: left;
    margin-right: .5em;
  }

  .form-checkbox {
    float: left;
    margin: 0.4em 0.5em 0 0;
  }

  .form-item-operation {
    width: 100%;
    display: block;
    padding-bottom: 1em;

    @include breakpoint(50em) {
      float: left;
      width: 60%;
      padding-right: 1em;
      padding-bottom: 0;
    }
  }
}