/**
 * Layout
 *
 * Contains styling of layout elements
 *
 * @author magnify
 */


/* Header
   ================================================================================================================== */ 

.header {
  background-color: $green;

  @include zen-grid-container();
}

.header--inner {
  @extend %set-max-width-and-center-element;

  position: relative;

  min-height: 5em;
  padding-right: 1em;
  padding-left: 1em;
}


/* Logo
   ================================================================================================================== */ 

.logo--link {
  display: inline-block;
  max-width: 100%;
  padding-top: 1.25em;

  text-align: center;

  @include breakpoint($breakpoint-1) {
    max-width: 5.625em;
  }
}

.logo--image {
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;

  @include breakpoint($breakpoint-1) {
    max-width: 100%;
  }
}



/* Layouts
   ================================================================================================================== */ 

.layout--wrapper {
  @extend %set-max-width-and-center-element;
  @extend %basic-element-styling;

  .layout--inner:last-child {
    margin-bottom: 0;
  }
}

.layout--inner {
  @extend %basic-element-inner-styling;

  margin-bottom: $margin-bottom;
}
