/**
 * Layout
 *
 * Contains styling of layout elements
 *
 * @author magnify
 */


/* Header
   ================================================================================================================== */ 

.header {
  margin-bottom: $margin-bottom;

  background-color: $green;

  @include zen-grid-container();
}

.header--inner {
  @extend %set-max-width-and-center-element;

  position: relative;

  min-height: 5em;
  padding-right: 1em;
  padding-left: 1em;
}


/* Logo
   ================================================================================================================== */ 

.logo--link {
  display: inline-block;
  max-width: 100%;
  padding-top: 1.25em;

  text-align: center;

  @include breakpoint($breakpoint-1) {
    max-width: 5.625em;
  }
}

.logo--image {
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;

  @include breakpoint($breakpoint-1) {
    max-width: 100%;
  }
}



/* Layouts
   ================================================================================================================== */

%layout--wrapper {
  @extend %set-max-width-and-center-element;
  @extend %basic-element-styling;

  margin-bottom: 0;

  .layout--inner:last-child {
    margin-bottom: 0;
  }
}

.layout--inner {
  @extend %basic-element-inner-styling;

  min-height: 400px;
  margin-bottom: $margin-bottom;
  overflow: auto;
}

.layout-element-alpha,
.layout-element-beta,
.layout-element-gamma,
.layout-element-delta,
.layout-element-epsilon {
  float: left;

  width: 100%;

  @include box-sizing(border-box);
}


// Default layout

.layout-default {
  @extend %layout--wrapper;

  .layout-element-alpha {
    @include breakpoint(45em) {
      @include zen-grid-item(8.5, 1);
    }
  }

  .layout-element-beta {
    @include breakpoint(45em) {
      @include zen-grid-item(3.5, 1, right);
    }
  }

  .layout-element-gamma {
    @include breakpoint(45em) {
      clear: both;

      @include zen-grid-item(6, 1);
    }
  }

  .layout-element-delta {
    @include breakpoint(45em) {
      @include zen-grid-item(6, 1, right);
    }
  }

  .layout-element-epsilon {
    @include breakpoint(45em) {
      clear: both;

      @include zen-grid-item(12, 1);
    }
  }
}


// Alternative layout

.layout-alternative {
  @extend %layout--wrapper;

  .layout-element-alpha {
    @include breakpoint(45em) {
      @include zen-grid-item(12, 1);
    }
  }

  .layout-element-beta {
    @include breakpoint(45em) {
      clear: both;

      @include zen-grid-item(12, 1);
    }
  }

  .layout-element-gamma {
    @include breakpoint(45em) {
      clear: both;

      @include zen-grid-item(6, 1);
    }
  }

  .layout-element-delta {
    @include breakpoint(45em) {
      @include zen-grid-item(6, 1, right);
    }
  }

  .layout-element-epsilon {
    @include breakpoint(45em) {
      clear: both;

      @include zen-grid-item(12, 1);
    }
  }
}