/**
 * Layout
 *
 * Contains styling of layout elements
 *
 * @author magnify
 */


/* Header
   ================================================================================================================== */ 

.header {
  background-color: $green;

  @include zen-grid-container();
}

.header--inner {
  @extend %set-max-width-and-center-element;

  min-height: 5em;

  padding-right: 1em;
  padding-left: 1em;
}


/* Logo
   ================================================================================================================== */ 

.logo--link {
  display: inline-block;
  max-width: 100%;
  padding-top: 1.25em;

  text-align: center;

  @include breakpoint($breakpoint-1) {
    max-width: 5.625em;
  }
}

.logo--image {
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;

  @include breakpoint($breakpoint-1) {
    max-width: 100%;
  }
}



/* Navigation
   ================================================================================================================== */ 

.nav {
  text-align: center;

  @include breakpoint($breakpoint-1) {
    padding-top: 1em;
    padding-bottom: 1em;

    text-align: right;

    @include zen-grid-item(10, 1, right);

    /* Padding should come from parent element, so let's make sure left and right padding is removed */
    @include zen-nested-container();
  }
}

/* Using a variable so we only have to set the size once */
$nav-link-dimensions: 2.5em;

.nav--link {
  display: block;
  position: relative;
  height: $nav-link-dimensions;
  width: $nav-link-dimensions;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;

  background-color: transparentize($white, .75);
  font-size: 125%;
  line-height: $nav-link-dimensions;
  text-align: center;
  vertical-align: middle;

  &:link,
  &:visited {
    color: $white;
    text-decoration: none;
  }

  &:hover {
    background-color: transparentize($white, .5);
  }

  i[class^="icon-"] {
    vertical-align: bottom;
  }

  @include border-radius(100%);

  @include breakpoint($breakpoint-1) {
    display: inline-block;
    margin-bottom: 0;
    margin-left: .25em;
  }

  @include breakpoint($breakpoint-2) {
    margin-left: 1em;
  }

  @include breakpoint($breakpoint-4) {
    padding-right: .75em;
    padding-left: .75em;
    width: auto;

    @include border-radius($border-radius);
  }
}

.nav--text {
  display: none;

  @include breakpoint($breakpoint-4) {
    display: inline;

    font-size: 85%;
  }
}

/* Make the mail icon bigger */
.nav--link-mail {
  @extend .nav--link;

  i[class^="icon-"] {
    font-size: 125%;
    line-height: 190%;
  }

  @include breakpoint($breakpoint-4) {
  }
}

/* Make the menu icon bigger */
.nav--link-menu {
  @extend .nav--link;

  i[class^="icon-"] {
    font-size: 150%;
    line-height: 160%;
  }
}


/* Layouts
   ================================================================================================================== */ 

.layout--wrapper {
  @extend %set-max-width-and-center-element;
  @extend %basic-element-styling;

  .layout--inner:last-child {
    margin-bottom: 0;
  }
}

.layout--inner {
  @extend %basic-element-inner-styling;

  margin-bottom: $margin-bottom;
}
