/**
 * Placeholders
 *
 * This contains placeholders used with @extend in rulesets
 *
 * @author magnify
 */


/* Layout placeholders
   ========================================================================== */

/* Used for centering a section */
%set-max-width-and-center-element {
  max-width: 31.25em;
  margin-right: auto;
  margin-left: auto;

  clear: both;

  @include breakpoint($breakpoint-1) {
    max-width: 48em;
  }
}


%basic-element-styling {
  margin-bottom: $margin-bottom;
  padding: $padding-bottom;

  background-color: $gray-lightest;

  @include border-radius($border-radius);
  @include box-sizing(border-box);
}

