/**
 * Placeholders
 *
 * This contains placeholders used with @extend in rulesets
 *
 * @author magnify
 */


/* Layout placeholders
   ========================================================================== */

/* Used for centering an element */
%set-max-width-and-center-element {
  margin-right: auto;
  margin-left: auto;

  clear: both;

  @include breakpoint($breakpoint-1) {
    max-width: $layout-max-width;
  }
}


%basic-element-styling {
  margin-bottom: $margin-bottom;
  padding: 1.25em;

  background-color: $gray-lightest;

  @include breakpoint($layout-max-width) {
    @include border-radius($border-radius);
    @include box-sizing(border-box);
  }
}


%basic-element-inner-styling {
  padding: 1.25em;

  background-color: $white;

  @include border-radius($border-radius);
  @include box-sizing(border-box);
}


%element-spacing {
  border-bottom: 1px solid $border-color;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

%reset-element-spacing {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}


/* Icons
   ================================================================================================================== */

%icon-base {
  display: inline-block;

  font-family: "loop-icons";
  line-height: 100%;
}

%icon-before {
  margin-right: .35em;
}

%icon-after {
  margin-left: .35em;
}

%icon-check {
  @extend %icon-base;

  content: '\e804';
}

%icon-check-circled {
  @extend %icon-base;

  content: '\e80d';
}

%icon-like {
  @extend %icon-base;

  content: '\e805';
}

%icon-cancel {
  @extend %icon-base;

  content: '\e80b';
}

%icon-comment {
  @extend %icon-base;

  content: '\e80a';
}

%icon-attention {
  @extend %icon-base;

  content: '\e80c';
}
