/**
 * Placeholders
 *
 * This contains placeholders used with @extend in rulesets
 *
 * @author magnify
 */


/* Layout placeholders
   ========================================================================== */

/* Used for centering an element */
%set-max-width-and-center-element {
  margin-right: auto;
  margin-left: auto;

  clear: both;

  @include breakpoint($breakpoint-1) {
    max-width: $layout-max-width;
  }
}


%basic-element-styling {
  margin-bottom: $margin-bottom;
  padding: 1.25em;

  background-color: $gray-lightest;

  @include breakpoint($layout-max-width) {
    @include border-radius($border-radius);
    @include box-sizing(border-box);
  }
}


%basic-element-inner-styling {
  padding: 1.25em;

  background-color: $white;

  @include border-radius($border-radius);
  @include box-sizing(border-box);
}




/* Icons
   ================================================================================================================== */

%icon-base {
  display: inline-block;
  margin-right: .35em;

  font-family: "loop-icons";
  font-size: 150%;
  line-height: 100%;
}

%icon-check {
  @extend %icon-base;

  content: '\e804';
}


%icon-like {
  @extend %icon-base;

  content: '\e805';
}
