/**
 * Placeholders
 *
 * This contains placeholders used with @extend in rulesets
 *
 * @author magnify
 */


/* Layout placeholders
   ========================================================================== */

/* Used for centering a section */
%set-max-width-and-center-element {
  max-width: $layout-max-width;
  margin-right: auto;
  margin-left: auto;

  clear: both;

  @include breakpoint($breakpoint-1) {
    max-width: 48em;
  }
}


%basic-element-styling {
  margin-bottom: $margin-bottom;
  padding: 1.25em;

  background-color: $gray-lightest;

  @include breakpoint($layout-max-width) {
    @include border-radius($border-radius);
    @include box-sizing(border-box);
  }
}


%basic-element-inner-styling {
  padding: 1.25em;

  background-color: $white;

  @include border-radius($border-radius);
  @include box-sizing(border-box);
}


