/**
 * Theme variables
 *
 * This is an example file
 *
 * @author magnify
 */


/* Colors
   ================================================================================================================== */


$green:            #41ab51;
$green-light:      lighten($green, 10%);
$red:              #ff6138;
