/**
 * Theme variables
 *
 * @author magnify
 */



/* Layout
   ================================================================================================================== */

$layout-max-width:    75em;
$border-radius:       .4em;



/* Colors
   ================================================================================================================== */


$green:               #41ab51;
$green-light:         lighten($green, 10%);
$red:                 #ff6138;
$yellow-light:        #fff98f;

$gray-lightest:       lighten($black, 95%);
$gray-lighter:        lighten($black, 90%);
$gray-light:          lighten($black, 80%);
$gray:                lighten($black, 70%);
$gray-dark:           lighten($black, 45%);
$gray-darker:         lighten($black, 35%);
$gray-darkest:        lighten($black, 25%);

$gray-background:     #f2f2f2;
$gray-color:          #999;


/* Link colors
   ================================================================================================================== */

$link-color:          $green;
$link-color-hover:    darken($link-color, 10%);


/* Spacing
   ================================================================================================================== */

$margin-bottom:       1.5em;
$padding-bottom:      1.5em;


/* Misc
   ================================================================================================================== */

$border-color:        $gray-lighter;

$z-index-top:         99;
$z-index-middle:      50;
