@font-face {
  font-family: 'loop-icons';
  src: url('loop-icons.eot?99361535');
  src: url('loop-icons.eot?99361535#iefix') format('embedded-opentype'),
  url('loop-icons.woff?99361535') format('woff'),
  url('loop-icons.ttf?99361535') format('truetype'),
  url('loop-icons.svg?99361535#loop-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'loop-icons';
    src: url('../font/loop-icons.svg?48744896#loop-icons') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "loop-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  line-height: 1;
  text-transform: none;
}

.icon-check-circled:before { content: '\e80d'; } /* '' */
.icon-check:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-comment:before { content: '\e80a'; } /* '' */
.icon-attention:before { content: '\e801'; } /* '' */
.icon-right-medium:before { content: '\e807'; } /* '' */
.icon-right-small:before { content: '\e808'; } /* '' */
.icon-right-big:before { content: '\e809'; } /* '' */
.icon-thumbs:before { content: '\e805'; } /* '' */
.icon-loading:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
