<!--
  Default view for the search box.

  You should not change this but point to another custom template in the
  configuration object.
-->
<div class="search-box-block">
  <div class="search-box-block--wrapper">
      <div>
        <div class="form-item form-type-textfield">
          <label>Søg efter et svar </label>
          <span style="position: relative; display: inline-block;" class="twitter-typeahead">

            <input type="text" placeholder="F.eks. med søgeord som &quot;fokusområde handlingsevaluering&quot;" class="typeahead form-text"
                   data-code="13" data-key-code="searchClicked()" data-ng-model="query.text">
          </span>
        </div>
        <input class="search-box-block--button" type="submit" data-ng-click="searchClicked()" value="Søg">
      </div>

      <span class="search-box--typeahead" data-ng-controller="loopBoxTypeAheadController">
        TEST
      </span>

      <span class="search--reset" data-ng-click="reset()">Nulstil søgning</span>
  </div>
</div>
