/**
 * Breakpoints
 *
 * Should contain breakpoint variables and breakpoints related mixins
 *
 * @author magnify
 */



/* Breakpoints
   ========================================================================== */

$breakpoint-1:               18.75em;
$breakpoint-2:               22.5em;
$breakpoint-3:               28em;


/* Mixins
   ========================================================================== */

@mixin breakpoint($breakpoint) {
  @media only screen and (min-width: $breakpoint) { @content; }
}
