/**
 * Variables
 *
 * @author magnify
 */



/* Layout
   ================================================================================================================== */

$border-radius:    .6em !default;



/* Colors
   ================================================================================================================== */


$black:            #000;
$white:            #fff;
$gray-lightest:    lighten($black, 90%);
$gray-lighter:     lighten($black, 80%);
$gray-light:       lighten($black, 70%);
$gray:             lighten($black, 60%);
$gray-dark:        lighten($black, 50%);
$gray-darker:      lighten($black, 40%);
$gray-darkest:     lighten($black, 30%);




/* Typograhy
   ================================================================================================================== */

$font:             1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif !default;



/* Link colors
   ================================================================================================================== */

$link-color:       #04bfbf !default;



/* Spacing
   ================================================================================================================== */

$margin-bottom:    1.5em !default;
$padding-bottom:   1.5em !default;
