/**
 * Variables
 *
 * @author magnify
 */



/* Layout
   ========================================================================== */

$border-radius:    .6em;



/* Colors
   ========================================================================== */

$black:            #000;
$white:            #fff;
$gray:             lighten($black, 80%);
$gray-light:       lighten($black, 70%);
$gray-dark:        lighten($black, 60%);
$gray-darker:      lighten($black, 50%);
$gray-darkest:     lighten($black, 40%);



/* Typograhy
   ========================================================================== */
$font:             1em/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;



/* Link colors
   ========================================================================== */

$link-color:       blue;



/* Spacing
   ========================================================================== */

$margin-bottom:    1.5em;
$padding-bottom:   1.5em;