/**
 * Variables
 *
 * @author magnify
 */



/* Layout
   ================================================================================================================== */

$border-radius:    .6em !default;



/* Colors
   ================================================================================================================== */

$black:            #000 !default;
$white:            #fff !default;
$green:            #79a60b;
$green-light:      #8ebe18;
$red:              #ff6138;
$gray-lightest:    lighten($black, 90%) !default;
$gray-lighter:     lighten($black, 80%) !default;
$gray-light:       lighten($black, 70%) !default;
$gray:             lighten($black, 60%) !default;
$gray-dark:        lighten($black, 50%) !default;
$gray-darker:      lighten($black, 40%) !default;
$gray-darkest:     lighten($black, 30%) !default;



/* Typograhy
   ================================================================================================================== */

$font:             1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif !default;



/* Link colors
   ================================================================================================================== */

$link-color:       #04bfbf !default;



/* Spacing
   ================================================================================================================== */

$margin-bottom:    1.25em !default;
$padding-bottom:   1.25em !default;
