/**
 * Theme variables
 *
 * @author magnify
 */



/* Layout
   ================================================================================================================== */

$layout-max-width:    75em;
$border-radius:       .4em;



/* Colors
   ================================================================================================================== */



$green:               #41ab51 !default;
$green-dark:          lighten($green, 45%);
$green-darker:        darken($green, 10%);
$green-light:         lighten($green, 10%);
$green-lighter:       #d6ff9a !default;
$red:                 #ff6138 !default;
$yellow-light:        #fff98f !default;

$keyword-background-color: #007700 !default;
$post-type-color: #41658A !default;
$post-type-color-text: $white !default;
$document-type-color: #B05B63 !default;
$document-type-color-text: $white !default;

$gray-lightest:       lighten($black, 95%);
$gray-lighter:        lighten($black, 90%);
$gray-light:          lighten($black, 80%);
$gray:                lighten($black, 70%);
$gray-dark:           lighten($black, 45%);
$gray-darker:         lighten($black, 35%);
$gray-darkest:        lighten($black, 25%);

$gray-background:     #f2f2f2 !default;
$gray-color:          #999 !default;


/* Link colors
   ================================================================================================================== */

$link-color:          $green !default;
$link-color-hover:    darken($link-color, 10%);


/* Spacing
   ================================================================================================================== */

$margin-bottom:       1.5em;
$padding-bottom:      1.5em;


/* Misc
   ================================================================================================================== */

$border-color:        $gray-lighter;



// SVG images are not clickable when embedded through media tag, so we add apseudo element in the same container.
// Usage: Add svg-clikcable class to wrapper of object element.
%svg-clickable {
  cursor: pointer;
  display: inline-block;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
