<!--
  Default view for the search box.

  You should not change this but point to another custom template in the
  configuration object.

    // Translation hack. The lines need to be here.
  {{ Drupal.t('Search', { }, { 'context': 'angular' }) }}
  {{ Drupal.t('Searching...', { }, { 'context': 'angular' }) }}
-->
<div class="search-box-block">
  <div class="search-box-block--wrapper">
      <div>
        <div class="form-item form-type-textfield">
          <label>{{ Drupal.t('Search for an answer', {}, { 'context': 'angular' }) }}</label>
          <span class="twitter-typeahead" style="position: relative;display: inline-block; width: 100%">
            <!-- Hint (bg field) -->
            <input data-ng-model="autocompleteString" spellcheck="false" autocomplete="off" readonly=""
                   class="typeahead form-text" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: rgb(255, 255, 255) none repeat scroll 0% 0%;"
                   type="text" disabled>

            <!-- Input field -->
            <input class="typeahead form-text" style="position: relative; vertical-align: top; background-color: transparent;"
                   spellcheck="false" autocomplete="off" type="text" placeholder="{{ Drupal.t('E.g. search words such as fokusområde handlingsevaluering', {}, { 'context': 'angular' }) }}" data-code="13" data-key-code="searchClicked()"
                   data-ng-model="query.text" data-ng-change='autocomplete()'
                   data-ng-focus="suggestToggle(true)">

            <!-- Suggestions -->
            <span data-ng-if="suggestionExists() && suggestions.show == true" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: block; right: auto;" class="tt-dropdown-menu">
              <!-- type ==  'loop_documents_collection' -->
              <div data-ng-if="suggestions.loop_documents_collection.length" class="tt-dataset-0">
                <h3 class="tt-suggestion-header">{{ Drupal.t('Documents collection', {}, { 'context': 'angular' }) }}</h3>
                <span style="display: block;" class="tt-suggestions">
                  <div data-ng-repeat="hit in suggestions.loop_documents_collection" class="tt-suggestion">
                    <a href="{{ hit.url }}" data-ng-bind-html="hit.title"></a>
                  </div>
                </span>
              </div>

              <div class="tt-dataset-1"></div>

              <!-- type ==  'loop_documents' -->
              <div data-ng-if="suggestions.loop_documents.length" class="tt-dataset-0">
                <h3 class="tt-suggestion-header">{{ Drupal.t('Documents', {}, { 'context': 'angular' }) }}</h3>
                <span style="display: block;" class="tt-suggestions">
                  <div data-ng-repeat="hit in suggestions.loop_documents" class="tt-suggestion">
                    <a href="{{ hit.url }}" data-ng-bind-html="hit.title"></a>
                  </div>
                </span>
              </div>

              <div class="tt-dataset-1"></div>

              <!-- type ==  'external_sources' -->
              <div data-ng-if="suggestions.external_sources.length" class="tt-dataset-0">
                <h3 class="tt-suggestion-header">{{ Drupal.t('Tutorials and external documents', {}, { 'context': 'angular' }) }}</h3>
                <span style="display: block;" class="tt-suggestions">
                  <div data-ng-repeat="hit in suggestions.external_sources" class="tt-suggestion">
                    <a href="{{ hit.url }}" data-ng-bind-html="hit.title"></a>
                  </div>
                </span>
              </div>

              <div class="tt-dataset-1"></div>

              <!-- type == 'post' -->
              <div data-ng-if="suggestions.post.length" class="tt-dataset-2">
                <h3 class="tt-suggestion-header">{{ Drupal.t('Questions', {}, { 'context': 'angular' }) }}</h3>
                <span style="display: block;" class="tt-suggestions">
                  <div data-ng-repeat="hit in suggestions.post" class="tt-suggestion">
                    <a href="{{ hit.url }}" data-ng-bind-html="hit.title"></a>
                  </div>
                </span>
              </div>
              <div class="tt-dataset-3"></div>
            </span>

          </span>
        </div>
        <input class="search-box-block--button js-hide-suggest" data-ng-disabled="searching" type="submit" data-ng-click="searchClicked()" value="{{ Drupal.t(searchBtnText, {}, { 'context': 'angular' }) }}">
      </div>
  </div>
</div>
