/**
 * Loop frontpage module
 *
 * Dependencies:
 * Loop_frontpage feature
 *
 * @author zorp
 */



/* Extending from search module
   ========================================================================== */

.search-block {
  .panel-pane--inner {
    @extend .search--inner;
  }

  .form-item {
    border: 0;
    margin-bottom: 0;
    padding: 0;
  }
}
