/**
 *
 * Editing
 *
 */

.editing--block {
  margin-bottom: 2em;

  &:last-child {
    margin-bottom: 0;
  }
}

.editing--row {
  @include element-spacing(1em);

  &:last-child {
    @include reset-element-spacing();
  }
}

.editing--edit-link {
  font-size: 0.8em;
  float: right;
}

.editing--revision-date {
  .view-filters {
    clear: both;
    float: left;
    width: 100%;
    padding-bottom: 1em;
  }

  .views-exposed-form {
    label {
      display: none;
    }

    .views-widget > div {
      float: left;
    }

    .description {
      clear: left;
      color: $gray;
      float: left;
    }
  }

  .views-field-field-revision-date {
    min-width: 9em;
  }
}