/**
 *
 * Search filters for node search.
 *
 */


/* Placeholders related to this document
   ========================================================================== */
%search-filters-label {
  background: $white;
  border-top: 1px solid $green;
  border-bottom: 1px solid $green;
  border-right: 1px solid $green;
  color: $green;
  cursor: pointer;
  flex: 1 0 auto;
  padding: .5em;
  text-align: center;

  &:first-child {
    border-left: 1px solid $green;

    @include border-radius($border-radius 0 0 $border-radius);
  }

  &:last-child {
    @include border-radius(0 $border-radius $border-radius 0);
  }

  &:first-child:last-child {
    @include border-radius($border-radius);
  }

  &.is-active {
    background: $green;
    color: $white;
  }
}


/* Search filters
   ========================================================================== */
.search-filters {
  background: $gray-lightest;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2em;
  padding: 0 1.25em;

  @include border-radius(0 0 $border-radius $border-radius);

  &--search-box {
    background: $gray-lightest;
    padding: 2em 1.25em;

    @include border-radius($border-radius $border-radius 0 0 );
  }

  &--type {
    display: flex;
    flex: 0 0 100%;
    margin: 2em 0;

    @include breakpoint($breakpoint-4) {
      flex: 0 0 60%;
    }
  }

  &--subject-wrapper {
    display: flex;
    flex: 0 0 100%;
    margin: 2em 0;

    @include breakpoint($breakpoint-4) {
      flex: 0 1 35%;
    }
  }

  &--subjects {
    background: $white;
    box-sizing: border-box;
    flex: 0 0 100%;
    margin-bottom: 1.25em;
    padding: 1em 2em;
    position: relative;

    @include border-radius($border-radius);

    &-inner {

      display: flex;
      flex-wrap: wrap;
    }

    &-item {
      flex: 1 0 100%;

      @include breakpoint(800px) {
        flex: 0 1 50%;
      }

      @include breakpoint(1000px) {
        flex: 0 1 33%;
      }

      &-inner {
        box-sizing: border-box;
        display: flex;
        height: 60px;
        padding-bottom: 1em;
        padding-left: 21px;
        padding-right: 2em;
        padding-top: 1em;

        input[type=checkbox] {
          @include checkbox();
        }

        input {
          margin-left: -21px;
        }
      }
    }
  }

  &--label {
    @extend %search-filters-label;
  }

  &--arrow {
    position: absolute;
    top:-30px;
    right: 80px;
    height: 30px;
    width: 30px;
    display: block;

    &-inner {
      border-width: 15px;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: $white;
    }
  }
  
  &--icon-dropdown {
    position: absolute;
    top: .85em;
    right: 1em;
    max-width: .85em;
  }

  &--subjects-wrapper {
    width:100%;
  }

  &--subject-wrapper-label {
    position: relative;

    @extend %search-filters-label;

    @include border-radius($border-radius);
  }

  &--action {
    @extend .button--action;

    padding:.4em 0 .5em;
    width: 100%;
  }

  // Sorting
  &--sort {
    align-items: center;
    background: $gray-lightest;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 1.25em;

    @include border-radius($border-radius $border-radius 0 0 );

    &-text {
      color: $gray-dark;
      font-weight: bold;
      flex: 0 0 auto;
    }

    &-labels{
      display: flex;
      margin-left: 1.5em;
      flex: 0 0 auto;
    }

    .search-filters--label {
      font-size: .85em;
    }
  }
}