.view-loop-user-subscriptions,
.view-loop-user-taxonomy-subscriptions {
	margin-bottom: 2em;

	.view-header {
		border-bottom: 1px solid #e6e6e6;
		margin-bottom: 0.5em;
		padding-bottom: 0.5em;
		font-size: 1.5em;
		font-weight: bold;
	}

	.view-content {
		display: flex;
		flex-wrap: wrap;

		.subscriptions--item {
			margin: 1em 0;
		}
	}
}

.view-loop-user-taxonomy-subscriptions {
	.subscriptions--item {
		flex: 0 0 100%;

		@include breakpoint(1000px) {
			flex: 0 1 50%;
		}
	}
}

.view-loop-user-subscriptions {
	.subscriptions--item {
		flex: 0 0 100%;
		margin: 1em 0;
	}
}

.subscriptions--item {
	.flag-link-toggle {
		color: $gray-dark;
		text-decoration: none;

		&::before {
			background-size: 16px;
			background-repeat: no-repeat;
			text-align: center;
			background-position: 2px;
			vertical-align: middle;

			content: '';
			height: 20px;
			width: 20px;
			border: 1px solid $green;
			display: inline-block;
			margin-right: .5em;

			@include border-radius($border-radius);
		}
	}

	.unflag-action:before {
		background-image: url("../icons/check.svg");
		background-color: $green;
	}

	.flag-message {
		background-color: $green-lighter;
		box-sizing: border-box;

		display: block;
		margin-top: 1em;
		padding: .5em 1em;
		width: 80%;

		@include border-radius($border-radius);
	}
}
