/**
 * Tag
 *
 * @author magnify
 */



%tag {
  display: inline-block;
  margin-bottom: .25em;
  padding: .1em 1em;

  background-color: $white;
  color: $white;
  cursor: pointer;
  font-size: 85%;

  @include border-radius($border-radius);

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}


.tag--list-description {
  margin-bottom: .5em;
  color: #b3b3b3;
  font-size: .85em;
}

a.question--term.taxonomy-keyword {
  background-color: $keyword-background-color;

  &:hover {
    background-color: darken($keyword-background-color, 15%);
  }
}
