/**
 * Autocomplete Deluxe module
 *
 * @created by zorp
 */


/* Autocomplete field
   ================================================================================================================== */

.ui-autocomplete {
  overflow-x: hidden;
  overflow-y: scroll;

  /* Override inline styling */
  width: 70% !important;

  @include box-sizing(border-box);
}

.ui-widget-content {
  border: 1px solid $border-color;

  background: $white;
  color: inherit;
}

.ui-widget {
  font-family: inherit;
  font-size: inherit;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 0;

  background: transparent;
  color: $green;
}

.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
  margin: 0;
}

.autocomplete-deluxe-single:hover {
  text-decoration: none;
}

.autocomplete-deluxe-container {
  @extend input[type="text"];

  width: 100%;
  position: relative;

  .autocomplete-deluxe-form {
    background: none;
    padding: 0;
    border: none;
    width: auto;

    &:focus {
      outline: 0;
      border: none;
    }

    &.autocomplete-deluxe-multiple {
      float: left;
      margin-left: 0.5em;
    }
  }

  .autocomplete-deluxe-form-single  {
    display: inline-block;
  }
}

.autocomplete-deluxe-multiple {
  display: inline-block;
  position: relative;
  height: auto !important;
  margin: 0;
  overflow: hidden;
  cursor: text;
}

.autocomplete-deluxe-throbber {
  width: 20px;
  float: right;
  position: absolute;
  top: 11px;
  right: 10px
}

.autocomplete-deluxe-closed {
  background: url("../images/loader-in-active.png") no-repeat 100% 0;
}

.autocomplete-deluxe-open {
  background: url("../images/loader.png") no-repeat 100% 0;
}

.autocomplete-deluxe-item {
  @include border-radius($border-radius);

  float: left;
  position: relative;
  padding: 0.3em 1.25em 0.3em 0.5em;
  margin: 0 5px 0 0;
  line-height: 13px;

  background-color: $white;
  border: 1px solid $gray-light;
  cursor: default;
  font-size: .85em;
}

.autocomplete-deluxe-item-delete {
  background: url("../images/x.png");
  display: block;
  font-size: 1px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 5px;
  width: 12px;
}

.autocomplete-deluxe-value-delete {
  display: inline-block;
  float: right;
  background:url('../images/x.png') no-repeat center;
  width: 18px;
  width: 18px;

  /* Prevent text selection. */
  @include user-select(none);
}

.autocomplete-deluxe-highlight-char {
  color: $green;
}
