$green:               #003764;
$green-lighter:       #d6ff9a;
$red:                 #ff6138;
$yellow-light:        #fff98f;
$gray-background:     #f2f2f2;
$gray-color:          #999;
$link-color:          $green;

@import "styles";
