.loop-documents--collection {
	.loop-documents--document {
	}

	.loop-documents--documents {
		margin-top: 2em;

		.loop-documents--document {
			margin-top: 1em;
		}
	}
}

.page-title--edit-link {
	display: none;
}
