/**
 *
 * Block module
 *
 */


.block-module {
  margin-bottom: $margin-bottom;

  background-color: $gray-lightest;

  @include border-radius($border-radius);
}

.block-module--inner {
  padding: 1.5em;
}

.block-module--header {
  font-size: 130%;
  font-weight: bold;
}

.block-module--content {
  margin-bottom: 1em;
}

.block-module--link {
  width: 100%;

  @include box-sizing(border-box);
}

.block-my-content,
.block-follow-question,
.block-unfollow-question {
  @extend .block-module;
}

.block-module--my-content-links {

}


.block-follow-question {
  .block-module--link {
    @extend .button--action;
  }
}

.block-unfollow-question {
  .block-module--link {
    @extend .button--warning;
  }
}

/* User links block
   ================================================================================================================== */

.block-user-links {
  @extend .block-module;

  background-color: $green;
}

.block-module--user-links-header {
  @extend .block-module--header;

  border-bottom: 1px solid $green-light;
  color: $white;
  padding-bottom: 0.5em;
}

.block-module--user-links-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.block-module--user-links-item {
  @extend %element-spacing;

  display: block;

  border-bottom-color: $green-light;

  @include custom-menu-links($white);

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &.active {
    font-weight: bold;
  }
}

/* My content block
   ================================================================================================================== */

.block-module--my-content-header {
  @extend .block-module--header;

  border-bottom: 1px solid $gray-light;
  padding-bottom: 0.5em;
}

.block-module--my-content-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.block-module--my-content-item {
  @extend %element-spacing;

  display: block;

  border-bottom-color: $gray-light;

  @include custom-menu-links($green);

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &.active {
    font-weight: bold;
  }
}