/**
 *
 * Comment module
 *
 */




/* Comments
   ================================================================================================================== */

.comments--comment {
  @extend %element-spacing;

  position: relative;

  margin-bottom: 1.5em;

  &.is-sticky {
    border: 1px solid $green;
    margin-bottom: 2em;
    padding: 1.5em;

    background-color: lighten($green-lighter, 15%);

    @include border-radius($border-radius);
  }

  &:last-child {
    @extend %reset-element-spacing;
  }
}

.comments--comment-meta-data {
  @extend .meta-data--date;
}

.comments--comment-content {
  margin-bottom: 1em;

  @include breakpoint($breakpoint-4) {
    // Compensate for <p> margin bottom.
    margin-bottom: -1.5em;
  }
}

.comment--flag {
  @extend .flag;

  &.is-sticky {
    top: 1em;
    right: 1em;

    background-color: $white;
  }

  // Flag needs this wrapper to work, adding float so it does not take up space.
  .flag-wrapper {
    float: left;
  }

  /* Breakpoints */
  @include breakpoint($breakpoint-4) {
    position: absolute;
    right: 0;
    top: 0;

    display: inline-block;
  }
}


/* Comments list on user page
   ================================================================================================================== */
.comments--user-page-comments-element {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $border-color;

  &:last-child {
    @extend %reset-element-spacing;
  }
}

.comments--user-page-comments-new {
  @extend %tag;
}