/**
 * Comment module
 *
 * @author magnify
 */




/* Comments
   ================================================================================================================== */

.comments--comment {
  @extend %element-spacing;

  position: relative;

  &.is-last {
    @extend %reset-element-spacing;
  }
}

.comments--comment-meta-data {
  @extend .meta-data--date;
}

.comments--comment-content {
  margin-bottom: 1em;

  @include breakpoint($breakpoint-4) {
    margin-bottom: 0;
  }
}
