/**
 *
 * Comment module
 *
 */




/* Comments
   ================================================================================================================== */

.comments--comment {
  position: relative;

  border-bottom: 1px solid $border-color;
  margin-bottom: 2em;
  padding-bottom: 1.5em;

  &.is-sticky {
    border: 1px solid $green;
    margin-bottom: 2.5em;
    padding: 1.5em;

    background-color: lighten($green-lighter, 15%);

    @include border-radius($border-radius);
  }

  // Flag needs flag-wrapper to work, adding float so it does not take up space.
  .flag-wrapper {
    @include breakpoint($breakpoint-4) {
      float: left;
    }
  }

  &:last-child {
    @include reset-element-spacing();
  }
}

.comments--comment-meta-data {
  @extend .meta-data--date;
}

.comments--comment-content {
  margin-bottom: 1em;

  @include breakpoint($breakpoint-4) {
    margin-bottom: 0;
  }
}

.comment--flag {
  @extend .flag;

  &.is-sticky {
    top: 1.5em;
    right: 1.5em;

    background-color: $white;
  }

  /* Breakpoints */
  @include breakpoint($breakpoint-4) {
    position: absolute;
    right: 0;
    top: 0;

    display: inline-block;
  }
}


/* Comments list on user page
   ================================================================================================================== */
.comments--user-page-comments-element {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $border-color;

  &:last-child {
    @include reset-element-spacing();
  }
}

.comments--user-page-comments-new {
  @extend %tag;
}
