/**
 * Comment module
 *
 * @author magnify
 */




/* Comments
   ================================================================================================================== */

.comments--comment {
  @extend %element-spacing;

  position: relative;

  margin-bottom: 1.5em;

  &:last-child {
    @extend %reset-element-spacing;
  }
}

.comments--comment-meta-data {
  @extend .meta-data--date;
}

.comments--comment-content {
  margin-bottom: 1em;

  @include breakpoint($breakpoint-4) {
    // Compensate for <p> margin bottom.
    margin-bottom: -1.5em;
  }
}


/* Comments list on user page
   ================================================================================================================== */
.comments--user-page-comments-element {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $border-color;

  &:last-child {
    @extend %reset-element-spacing;
  }
}

.comments--user-page-comments-new {
  @extend %tag;
}