/**
 *
 * Dashboard
 *
 */

.dashboard-list {
  margin-bottom: 1em;
}

.dashboard-list--header {
  @extend %simple-list--header;

  margin-bottom: .75em;
}

.dashboard-list--filter {
  @include element-spacing(1em);

  position: relative;

  border-bottom: 0;

  // Nesting to override default padding
  .dashboard-list--filter-field {
    padding-left: 2.5em;
  }

  &:before {
    @extend %icon-filter;
    @extend %icon-before;

    position: absolute;
    top: 1.1em;
    left: .9em;

    max-width: 1em;

    @include opacity(.25);
  }

  // Nesting since the throbber is drupal core ajax construction.
  .ajax-progress {
    position: absolute;
    top: 0.8em;
    right: 0.6em;
  }
}

.dashboard-list--form {
  margin-bottom: 1em;
}

.dashboard--comment-filters {
  margin-bottom: 1em;
}

.dashboard--sorting {
  margin-bottom: 2em;
}

.dashboard--filter-label {
  font-weight: bold;
}

.dashboard--filter-links {
  text-decoration: none;
  @include custom-links($green, $white);

  &.is-active {
    background: $green;
    color: $white;
  }
}

.dashboard--sort-links {
  text-decoration: none;
  @include custom-links($green, $white);

  &.is-active {
    background: $green;
    color: $white;
  }
}

.dashboard--filter-link {
  background: $white;
  box-sizing: border-box;
  border: 1px solid $green;
  border-right: 0;
  display: inline-block;
  margin-left: -4px;
  padding: 0.5em 0;
  text-align: center;
  width: 50%;

  &.is-active {
    background: $green;
    color: $white;
  }

  &:first-child {
    border-radius: (.5em 0 0 .5em);
  }

  &:last-child {
    border: 1px solid $green;
    border-radius: (0 .5em .5em 0);
  }
}

.dashboard--sort-link {
  background: $white;
  box-sizing: border-box;
  border: 1px solid $green;
  border-right: 0;
  display: inline-block;
  margin-left: -4px;
  padding: 0.5em 0;
  text-align: center;
  width: 25%;

  &.is-active {
    background: $green;
    color: $white;
  }

  &:first-child {
    border-radius: (.5em 0 0 .5em);
  }

  &:last-child {
    border: 1px solid $green;
    border-radius: (0 .5em .5em 0);
  }
}

.js-has-answers-removed {
  width: 33.33%;

  &.is-last {
    border: 1px solid $green;
    border-radius: (0 .5em .5em 0);
  }

  &.is-hidden {
    display: none;
  }
}


.dashboard-list--filter--content {
  margin-bottom: 1em;
  position: relative;

  .ajax-progress {
    position: absolute;
    top: 1.8em;
    right: 3em;
  }
}

.dashboard-list--more-link {
  text-align: right;
}


.dashboard-list--submit {
  float: right;
  visibility: hidden;
  height: 0;
  width: 0;
}

%dashboard-list--item {
  @extend %simple-list--item;

  position: relative;
}

%dashboard-list--text {
  @extend %simple-list--text;
}

%dashboard-list--meta-data {
  color: $gray-light;
  font-size: 12px;
}

.dashboard-list--item {
  @extend %dashboard-list--item;

  .dashboard-list--text {
    @extend %dashboard-list--text;
  }

  .dashboard-list--meta-data {
    @extend %dashboard-list--meta-data;
  }
}

.dashboard-image-list--item,
.dashboard-user-list--item {
  @extend %dashboard-list--item;

  .dashboard-list--text {
    @extend %dashboard-list--text;

    padding-left: 4em;
  }

  .dashboard-list--meta-data {
    @extend %dashboard-list--meta-data;

    display: block;
  }
}

.dashboard-list--icon {
  position: absolute;
  top: .75em;
  right: 0;

  max-width: 1.25em;

  line-height: 1em;

  &:before {
    @extend %icon-pencil;
    @extend %icon-before;

    font-size: 1.25em;
  }
}
