/**
 *
 * Flag module
 *
 */



.flag {
  border: 1px solid $gray;
  display: block;
  padding: .5em 1em;

  background-color: $white;
  font-weight: bold;
  text-align: center;

  @include border-radius($border-radius);

  &:before {
    @extend %icon-like;
    @extend %icon-before;

    font-size: 150%;
    vertical-align: top;
  }

  /* States */
  &.is-active,
  &.is-sticky,
  &.unflag-action {
    border: 1px solid $link-color;

    color: $link-color;
  }

  &.is-sticky,
  &.unflag-action {
    &:before {
      @extend %icon-check;
    }
  }
}

// If it's a link add pseudo styles.
a.flag {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $gray;
    text-decoration: none;
  }

  &:hover {
    border: 1px solid $gray-dark;

    color: $gray-dark;
  }

  /* States */
  &.is-active,
  &.is-sticky,
  &.unflag-action {
    &:link,
    &:visited,
    &:hover,
    &:active {
      border: 1px solid $link-color;

      color: $link-color;
      text-decoration: none;
    }

    &:hover {
      border: 1px solid $gray-dark;

      color: $gray-dark;
    }

    &:hover {
      border: 1px solid $link-color-hover;

      color: $link-color-hover;
    }
  }
}

// Adding margin bottom to the flag link so there are spacing below when the message appears.
.flag-outer-subscribe-node {
  margin-bottom: -1.5em;

  .flag {
    margin-bottom: 1.5em;
  }
}

.flag-message {
  // jQuery adds inline styling, we use !important to make sure the flag message is only displayed when needed.
  display: none !important;
  margin-bottom: 1.5em;
  padding: 1.5em;

  background-color: $green-lighter;

  @include border-radius($border-radius);
  @include box-sizing(border-box);
}

.block-follow-question {
  .flag-message {
    // jQuery adds inline styling and because we used !important earlier we have to use !important again to show the
    // flag.
    display: block !important;
  }
}
