/**
 *
 * Notifications
 *
 */


.notification {
  display: block;
  position: absolute;
  top: -.5em;
  right: -.5em;

  height: 2em;
  // Tweaking width for Android.
  width: 2.05em;

  background-color: $red;
  font-size: 65%;
  font-weight: bold;
  text-decoration: none;
  // Tweaking line height for Android.
  line-height: 1.95em;

  &:link,
  &:visited {
    text-decoration: none;
  }

  @include border-radius(100%);
  @include box-sizing(border-box);
}

.notification--user-subscriptions {
  th {
    padding-bottom: 1em;
  }

  tr {
    border-bottom: 1px solid $border-color;
  }

  .form-type-checkbox {
    border: 0;
    margin-bottom: 0;
  }

  .links {
    list-style: none;
    padding: 0;
  }

  .empty {
    padding: 1em;
  }
}

