/**
 * Notifications
 *
 * @author magnify
 */


$notification-dimensions: 2em;

.notification {
  display: inline-block;
  position: absolute;
  top: -.5em;
  right: -.5em;
  height: $notification-dimensions;
  width: $notification-dimensions;

  background-color: $red;
  font-size: 65%;
  text-decoration: none;
  line-height: $notification-dimensions;
  text-align: center;
  vertical-align: middle;

  &:link,
  &:visited {
    text-decoration: none;
  }

  @include border-radius(100%);
}

.notification--user-subscriptions {
  th {
    padding-bottom: 1em;
  }

  tr {
    border-bottom: 1px solid $border-color;
  }

  .form-type-checkbox {
    border: 0;
    margin-bottom: 0;
  }

  .links {
    list-style: none;
    padding: 0;
  }

  .empty {
    padding: 1em;
  }
}

