/**
 * Page module
 *
 * @author magnify
 */


.page-wrapper {
  position: relative;

  height: 100%;

  @include transition(transform 500ms ease);

  &.is-moved-left {
    -moz-transform: translate3d(-82%, 0, 0);
    -webkit-transform: translate3d(-82%, 0, 0);
  }
}

.page-title {
  font-size: 200%;
  font-weight: bold;
}