/**
 * Page module
 *
 * @author magnify
 */


.page-wrapper {
  position: relative;

  height: 100%;

  @include transition(transform 500ms ease);

  &.is-moved-left {
    overflow: visible;

    @include transform(translate3d(-82%, 0, 0));
  }

  @include breakpoint($breakpoint-3) {
    @include transform(translate3d(0, 0, 0));
  }
}

.page-title {
  font-size: 200%;
  font-weight: bold;
}