/**
 * Page module
 *
 * @author magnify
 */



.page-wrapper {
  position: relative;

  &.is-moved-left {
    height: 100%;

    @include transition(transform 500ms ease);
    @include transform(translate3d(-82%, 0, 0));
  }
}

.page-title {
  font-size: 200%;
  font-weight: bold;
}