/**
 * Question module
 *
 * @author magnify
 */


/* Question
   ================================================================================================================== */

.question--wrapper {
  border-bottom: 1px solid $border-color;

  margin-bottom: $margin-bottom;
  padding-bottom: $padding-bottom;
}

.question--meta-data {
  margin-bottom: $margin-bottom;
  padding: .5em 1.25em .65em;

  background-color: $gray-background;
  color: $gray-color;
  font-size: 80%;

  @include border-radius($border-radius);

  @include breakpoint(40em) {
    float: right;
  }
}


.question--inner {
  clear: both;
  
  margin-bottom: $margin-bottom;
}

.question--label {
  display: block;
  margin-bottom: .25em;

  font-size: 125%;
  font-weight: bold;
}

.question {
  margin-bottom: 0;

  font-size: 125%;
}

.question--term {
  @extend %tag;
}
