/**
 * Question module
 *
 * @author magnify
 */


/* Question
   ================================================================================================================== */

.question--wrapper {
  margin-bottom: 2.5em;

  &.has-comments {
    border-bottom: 1px solid $border-color;
  }
}

.question--meta-data {
  margin-bottom: $margin-bottom;
  padding: .5em 1.25em .65em;

  background-color: $gray-background;
  color: $gray-color;
  font-size: 80%;

  @include border-radius($border-radius);

  @include breakpoint(51em) {
    float: right;
  }
}


.question--inner {
  clear: both;
  
  padding-bottom: 2em;
}

.question--label {
  display: block;
  margin-bottom: .25em;

  font-size: 125%;
  font-weight: bold;
}

.question--files {
  overflow: hidden;
}

.question--icon {
  height: 16px;
  width: 16px;
  float: left;
  display: block;
  margin-right: .5em;
  background: url('../images/document-icon.png') no-repeat right top;
}

.question--icon-application-pdf {
  background: url('../images/pdf-icon.png') no-repeat right top;
}

.question--icon-image-jpeg,
.question--icon-image-png,{
  background: url('../images/image-icon.png') no-repeat right top;
}

.question--files-label {
  float: left;
  margin-right: 1.6em;
}

.question--files-content {
  float: left;
}

.question--label-edit-link {
  font-weight: normal;
}

.question {
  margin-bottom: 0;

  font-size: 125%;
}

.question--terms {
  margin-bottom: 2em;
}

.question--term {
  @extend %tag;
}


/* Questions list on user page
   ================================================================================================================== */
.question--user-page-nodes-element {
  margin-bottom: 1em;
  border-bottom: 1px solid $border-color;
  padding-bottom: 1em;

  &:last-child {
    @include reset-element-spacing();
  }
}

.question--number-of-comments {
  @extend .search-result--comments;
}

.question--user-page-nodes-new {
  @extend %tag;
}
