/**
 * Question module
 *
 * @author magnify
 */


/* Question
   ================================================================================================================== */

.question--wrapper {
  border-bottom: 1px solid $border-color;

  margin-bottom: 2.5em;
}

.question--meta-data {
  margin-bottom: $margin-bottom;
  padding: .5em 1.25em .65em;

  background-color: $gray-background;
  color: $gray-color;
  font-size: 80%;

  @include border-radius($border-radius);

  @include breakpoint(51em) {
    float: right;
  }
}


.question--inner {
  clear: both;
  
  margin-bottom: 2em;
}

.question--label {
  display: block;
  margin-bottom: .25em;

  font-size: 125%;
  font-weight: bold;
}

.question--label-edit-link {
  font-weight: normal;
}

.question {
  margin-bottom: 0;

  font-size: 125%;
}

.question--terms {
  margin-bottom: 2em;
}

.question--term {
  @extend %tag;
}


/* Questions list on user page
   ================================================================================================================== */
.question--user-page-nodes-element {
  margin-bottom: 1em;
  border-bottom: 1px solid $border-color;
  padding-bottom: 1em;

  &:last-child {
    @include reset-element-spacing();
  }
}

.question--number-of-comments {
  @extend .search-result--comments;
}

.question--user-page-nodes-new {
  @extend %tag;
}
