/**
 * Question module
 *
 * @author magnify
 */



.question--wrapper {
  padding-bottom: $padding-bottom;

  border-bottom: 1px solid $border-color;
}

.question--author,
.question--meta {
  margin-bottom: $margin-bottom;
}

.question--author {
  @include breakpoint(40em) {
    @include zen-grid-item(6, 1);
    @include zen-nested-container;
  }
}

.question--author-image {
  float: left;

  overflow: hidden;
  margin-right: 1em;
  max-width: 3em;

  border: 1px solid $border-color;

  @include border-radius($border-radius);
}

.question--author-link {
  font-weight: bold;
}

.question--author-title {
  @include opacity(.5);
}

.question--meta {
  padding: .5em 1.25em .65em;

  background-color: $gray-background;
  color: $gray-color;
  font-size: 80%;

  @include border-radius($border-radius);

  @include breakpoint(40em) {
    float: right;
  }
}


.question--inner {
  clear: both;
}

.question--header-label {
  display: block;
  margin-bottom: .25em;

  font-size: 125%;
  font-weight: bold;
}

.question--header {
  font-size: 125%;
}

.question--term {
  display: inline-block;
  margin-bottom: .25em;
  padding: .1em 1em;

  background-color: $red;
  font-size: 85%;

  @include border-radius($border-radius);

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $white;
    text-decoration: none;
  }

  &:hover {
    background-color: darken($red, 15%);
  }
}