/**
 * Search module
 */



/* Search result
   ========================================================================== */

.search-result--lead {
  @include element-spacing(1em);
}

.search-result--item {
  @include element-spacing(1em);

  &:last-child {
    @include reset-element-spacing();
  }
}

.search-result--link {
  display: block;
  margin-bottom: .5em;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.search-result--comments {
  display: block;

  &:link,
  &:visited {
    color: $gray-dark;
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: $gray-darkest;
  }

  &:before {
    @extend %icon-comment;
    @extend %icon-before;
  }
}
