/**
 * Search module
 */



/* Search result
   ========================================================================== */

.search-result--lead {
  @extend %element-spacing;
}

.search-result--item {
  @extend %element-spacing;

  &:last-child {
    @extend %reset-element-spacing;
  }
}

.search-result--link {
  display: block;
  margin-bottom: .5em;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.search-result--comments {
  display: block;

  &:link,
  &:visited {
    color: $gray-dark;
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: $gray-darkest;
  }

  &:before {
    @extend %icon-comment;
    @extend %icon-before;
  }
}


/* Search autocomplete
   ========================================================================== */
.search--autocomplete-wrapper {
  display: none;
  position: absolute;
  top: 12.25em;
  right: 1.25em;
  left: 1.25em;
  z-index: 90;

  border: 1px solid $gray-dark;
  padding: 1em;

  background-color: $white;

  @include border-radius($border-radius);

  @include breakpoint($breakpoint-3) {
    top: 7.5em;
  }
}

.autocomplete-suggestions {

}

.autocomplete-header {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 1em;
  padding-bottom: 1em;

  font-size: 110%;
  font-weight: bold;
}

.autocomplete-suggestion {
  border-bottom: 1px solid $border-color;
  color: $link-color;
  cursor: pointer;
  display: block;
  margin-bottom: 1em;
  padding-bottom: 1em;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
