/**
 * Search module
 *
 * @author magnify
 */



/* Search field
   ========================================================================== */

.search--inner {
  @extend %set-max-width-and-center-element;
  @extend %basic-element-styling;

  @include breakpoint($layout-max-width) {
    @include border-radius(0 0 $border-radius $border-radius);
  }
}

.search--field-wrapper {
  position: relative;

  .search--icon {
    position: absolute;
    top: 1.2em;
    left: .35em;

    color: $gray;
    font-size: 200%;
  }

  .search--field {
    margin-bottom: .75em;
    padding-top: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 1.25em;
    padding-left: 3em;
    height: 65px;

    background-color: $white;

    // Removing the browsers outline border when field is in focus
    &:focus {
      outline: none;
    }
  }

  @include breakpoint($breakpoint-3) {
    .search--field {
      padding-right: 6em;
      width: 90%;

      @include border-radius($border-radius 0 0 $border-radius);
    }
  }
}

.search--button {
  @extend .button--action;

  height: 65px;
  width: 100%;

  @include breakpoint($breakpoint-3) {
    position: absolute;
    bottom: 0;
    right: 0;

    padding-top: .5em;
    padding-bottom: .65em;
    width: auto;

    font-size: 150%;

    @include border-radius(0 $border-radius $border-radius 0);
  }
}



/* Search result
   ========================================================================== */

.search-result {
  @extend %set-max-width-and-center-element;
  @extend %basic-element-styling;
}

.search-result--question {
  margin-bottom: $margin-bottom;
  padding-bottom: $padding-bottom;

  border-bottom: .2em dotted $gray;
}
