/**
 * Search module
 *
 * @author magnify
 */



/* Search field
   ========================================================================== */

.search-block {
  @extend %set-max-width-and-center-element;
  @extend %basic-element-styling;

  position: relative;

  // Compensate for margin from header (necessary when not logged in)
  margin-top: -$margin-bottom;

  @include breakpoint($layout-max-width) {
    @include border-radius(0 0 $border-radius $border-radius);
  }
}

.search--field-wrapper {
  position: relative;

  .twitter-typeahead {
    width: 100%;
  }

  // Reset general form styling
  .form-item {
    border: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .search--icon {
    position: absolute;
    top: 1.2em;
    left: .35em;

    color: $gray;
    font-size: 200%;

    z-index: 1;
  }

  .search--field {
    padding-top: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 1.25em;
    padding-left: 3em;
    height: 65px;

    background-color: $white;

    // Removing the browsers outline border when field is in focus
    &:focus {
      outline: none;
    }
  }

  @include breakpoint($breakpoint-3) {
    .search--field {
      padding-right: 6em;
      width: 90%;

      @include border-radius($border-radius 0 0 $border-radius);
    }
  }
}

.search--button {
  @extend .button--action;

  height: 65px;
  width: 100%;

  @include breakpoint($breakpoint-3) {
    position: absolute;
    bottom: 0;
    right: 0;

    padding-top: .5em;
    padding-bottom: .65em;
    width: auto;

    font-size: 150%;

    @include border-radius(0 $border-radius $border-radius 0);
  }
}



/* Search result
   ========================================================================== */

.search-result--lead {
  @extend %element-spacing;
}

.search-result--item {
  @extend %element-spacing;

  &:last-child {
    @extend %reset-element-spacing;
  }
}

.search-result--link {
  display: block;
  margin-bottom: .5em;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.search-result--comments {
  display: block;

  &:link,
  &:visited {
    color: $gray-dark;
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: $gray-darkest;
  }

  &:before {
    @extend %icon-comment;
    @extend %icon-before;
  }
}


/* Search autocomplete
   ========================================================================== */
.search--autocomplete-wrapper {
  display: none;
  position: absolute;
  top: 12.25em;
  right: 1.25em;
  left: 1.25em;
  z-index: 90;

  border: 1px solid $gray-dark;
  padding: 1em;

  background-color: $white;

  @include border-radius($border-radius);

  @include breakpoint($breakpoint-3) {
    top: 7.5em;
  }
}

.autocomplete-suggestions {

}

.autocomplete-header {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 1em;
  padding-bottom: 1em;

  font-size: 110%;
  font-weight: bold;
}

.autocomplete-suggestion {
  border-bottom: 1px solid $border-color;
  color: $link-color;
  cursor: pointer;
  display: block;
  margin-bottom: 1em;
  padding-bottom: 1em;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
