/**
 * Search module
 *
 * @author magnify
 */



/* Search field
   ========================================================================== */

.search {
  @include zen-grid-item(12, 1);
}

.search--inner {
  @extend %set-max-width-and-center-element;
  @extend %basic-element-styling;
}

.search--field-wrapper {
  position: relative;

  .search--icon {
    position: absolute;
    top: .25em;
    left: .15em;

    color: $gray;
    font-size: 200%;
  }

  .search--field,
  .form-search {
    padding-top: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 1.25em;
    padding-left: 3em;

    background-color: $white;
  }

  @include breakpoint($breakpoint-3) {
    .search--field {
      min-width: 87%;
    }
  }
}

.search--button,
.form-submit {
  @extend .button--action;

  width: 100%;

  @include breakpoint($breakpoint-3) {
    position: absolute;
    bottom: 0;
    right: 0;

    padding-top: .65em;
    padding-bottom: .65em;
    width: auto;

    font-size: 150%;

    @include border-radius(0 $border-radius $border-radius 0);
  }
}



/* Search result
   ========================================================================== */

.search-result {
  @extend %set-max-width-and-center-element;
  @extend %basic-element-styling;
}

.search-result--question {
  margin-bottom: $margin-bottom;
  padding-bottom: $padding-bottom;

  border-bottom: .2em dotted $gray;
}
