/**
 *
 * User profile module
 *
 */


.user-profile-module--edit-link {
  font-size: 0.7em;
}

.user-profile-module--field-group-fieldset {
  @extend .field-group-fieldset;

  padding: 0.5em 1.5em 1.5em;
}

.user-profile-module--field-group-fieldset-personal-info {
  @extend .user-profile-module--field-group-fieldset;
}

.user-profile-module--personal-info-text {
  margin-bottom: 1em;

  @include breakpoint(45em) {
    float: left;

    margin-bottom: 0;
    width: 60%;
  }
}

.user-profile-module--personal-info-image {
  text-align: center;

  img {
    width: 50%;
  }

  @include breakpoint(45em) {
    float: right;

    width: 20%;

    img {
      width: 100%;
    }
  }
}

.user-profile-module--field {
  position: relative;

  line-height: 1.75em;

  @include element-spacing(1em);

  &:last-child {
    border-bottom: 0;
    // Needed to vertical align the icon.
    margin-bottom: -1em;
    padding-bottom: 1em;
  }
}

.user-profile-module--edit-link {
  float: right;
  padding: 0.5em;
}

// Views or Flag module add a <p> tag that is difficult to override.
.user-profile-module--field-text,
.user-profile-module--field-text p {
  display: inline;
  padding-right: 1.75em;
}

.user-profile-module--field-personal-info {
  @extend .user-profile-module--field;

  border-bottom: 1px solid $border-color;
}

.user-profile-module--fieldset-legend {
  @extend .fieldset-legend;

  font-weight: bold;
}

.user-profile-module--field-label {
  display: inline-block;
  font-weight: bold;
  width: 10em;
  margin-right: 1em;
}

.user-profile-module--footer {
  padding: 2em 1em 0;
  text-align: center;
}


.user-profile-module--notifications {
  margin-bottom: 3em;

  &:last-child {
    margin-bottom: 0;
  }
}

.user-form--password-link {
  padding-left: 0;
  list-style: none;
}

.edit-user--image-fieldset {
  position: relative;

  height: 15em;
}

.edit-user--image {
  position: absolute;
  top: 3em;
  left: 0;

  max-height: 12em;
  width: 25%;
}

.edit-user--image-buttons {
  position: relative;
  top: 50%;

  display: inline-block;
  margin-left: 25%;

  @include translateY(-50%);
}

.edit-user--image-button-remove,
.edit-user--image-button-add {
}

.edit-user--image-button-remove {
  @extend .button--warning;

  margin-right: .5em;
}

.edit-user--image-button-add {
  @extend .button--action;
}