/**
 * Debugging
 *
 * Contains debugging stuff, should only be used in development
 *
 * @author magnify
 */


/* Add padding bottom to body because of the fixed debug container */
body {
  padding-bottom: 14em;
}


.debug {
  padding-top: 2em;
  padding-bottom: 2em;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;

  background-color: yellowgreen;
}

.debug--header {
  padding-right: 1em;
  padding-left: 1em;
}



/* Breakpoints
   ================================================================================================================== */

%breakpoint {
  display: none;

  margin-top: 1em;
  margin-bottom: 1em;

  background-color: $black;
  color: $white;
  text-align: center;
}

.breakpoint-1 {
  @extend %breakpoint;

  @include breakpoint($breakpoint-1) {
    display: block;
    width: $breakpoint-1;
  }
}

.breakpoint-2 {
  @extend %breakpoint;

  @include breakpoint($breakpoint-2) {
    display: block;
    width: $breakpoint-2;
  }
}

.breakpoint-3 {
  @extend %breakpoint;

  @include breakpoint($breakpoint-3) {
    display: block;
    width: $breakpoint-3;
  }
}
